
.navbar
{
	text-transform: uppercase;
	font-size: .9rem;
	letter-spacing: .1rem;
	background: lightgrey;
	opacity:.7;
}
body
{
	overflow-x: hidden;
	color:#505962;
}
.navbar-brand
{
  height: 2rem;

}
.navbar-nav li
{
 padding-right: 4px;
}
.navbar-light .navbar-nav .nav-link
{
	color:black;
	padding-top:.8rem;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover
{
      color:red;
      transition: .5s;
}
.s
{
	color:black;
}
.s:hover
{
	color: red;
}
.carousel-item{
	height:50%
	width:100%;
}
.navbar-light
{
	color:white;
}
#d
{
	color:#e74c3c;
}
.c{
	font-weight: 400;
}
.e{
	height:205px;
}
#ContactUs
{
      background-color: #c23616;
      height:500px;
}
.form-control
{
   background:none;
   border: 2px solid white;
   
}
.form-control:hover,
{
	background-color:none;
	color:white;
}

.btn
{
	color:red;
}

#footer
{
	background-color: black;
	
}

.fa-envelope
{
	color:white;
	font-weight: bold;
}
.mb{
	margin-top:90px;
}
.g
{
	margin-top: 20px;
	font-weight: bold;
}
.fa-facebook
{
	color:white;
}
.fa-info-circle
{
	color:white;
}
#testimonial
{
	background-color: black;
	/*height:500px;*/
	width:100%;	
}
#testimonial p
{
	margin-top: 20px;
	padding: 30px 30px;

}
#testimonial .oo
{
	border:2px solid white;
	border-radius: 34px;
	padding-bottom: 30px;
}
@media (max-width: 360px);
{
	#testimonial
	{
		max-height:800px !important;
		width:100%;
		background-color: white;
	}
	#testimonial p
    { 
	margin-top:0;
    margin-bottom: 1rem;
    }
    #testimonial .oo
     {
	border:2px solid white;
	border-radius: 34px;
    }

}

    
